{% extends "base.html" %}

{% block content %}


{{super()}}
<div class="container">
    <h1 class="h1 text-center">Reset Your Password</h1>
    <form  action="" method="post">
        {{ form.hidden_tag() }}
        <div class="row">
            <div class="form-group col-12">
                <label for="formGroupExampleInput">{{ form.email.label }}</label>
                <input type="email" class="form-control" id="formGroupExampleInput" name="email" id="email">
                {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    <span style="color: red;">[{{ error }}]</span>
                </div>  
                {% endfor %}
            </div>

        </div>

    
    <div class="row">
        <div class=" col-12 ">
            <p class="">  {{ form.submit(class="btn btn-primary ") }}</p>
        </div>
    </div>
    
</form>
</div>

{% endblock %}